{% extends 'base-page.html' %}
{% load static %}

{% block title %}

{% endblock title %}
{% block container %}
	<!-- content start -->
	<div class="main-content-wrapper">
		<section class="breadcrumb-section about">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-lg-5">
						<div class="breadcrumb-wrapper">
							<h2>About Us</h2>
							<nav>
								<ul>
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active"><a href="#">About Us</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<div class="row row-eq-height">
					<div class="col-12 col-lg-6 col-md-6">
						<div class="company-overview-wrapper">
							<h2 class="main-heading m-0">company overview</h2>
							<hr>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<div class="company-overview-features">
								<div class="overview-feature-item"> <img src="../assets/images/safety.png" alt="img">
									<h2 class="sub-heading-medium-cap">we use most heigh technology</h2> </div>
								<div class="overview-feature-item"> <img src="../assets/images/safety.png" alt="img">
									<h2 class="sub-heading-medium-cap">save unusual time and money</h2> </div>
								<div class="overview-feature-item"> <img src="../assets/images/safety.png" alt="img">
									<h2 class="sub-heading-medium-cap">no compromise with quality</h2> </div>
								<div class="overview-feature-item"> <img src="../assets/images/safety.png" alt="img">
									<h2 class="sub-heading-medium-cap">we have that best experience</h2> </div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6 col-md-6">
						<div class="company-overview-wrapper">
							<div class="overview-image-top">
								<div class="overview-top-image item"> <img src="../assets/images/img/project-1.jpg" alt="img"> </div>
								<div class="overview-top-image item"> <img src="../assets/images/img/project-2.jpg" alt="img"> </div>
							</div>
							<div class="overview-image-bottom item"> <img src="../assets/images/img/project-3.jpg" alt="img"> </div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-6 col-md-6 item">
						<div class="company-overview-wrapper">
							<h2 class="main-heading m-0">our work system</h2>
							<hr>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>
					<div class="col-12 col-lg-6 col-md-6">
						<div class="company-overview-wrapper">
							<h2 class="main-heading m-0">you should know</h2>
							<hr>
							<div class="collapse-paneel-wrapper">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-header" id="headingOne">
											<h5 class="mb-0">
                                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                How I Download The App?
                                                <i class="material-icons">expand_more</i>
                                              </button>
                                              
                                            </h5> </div>
										<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
											<div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. </div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="headingTwo">
											<h5 class="mb-0">
                                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Process Of Install The App?
                                                <i class="material-icons">expand_more</i>
                                              </button>
                                              
                                            </h5> </div>
										<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
											<div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. </div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="headingThree">
											<h5 class="mb-0">
                                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                How Can I Update Plan?
                                                <i class="material-icons">expand_more</i>
                                              </button>
                                              
                                            </h5> </div>
										<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
											<div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="about-client-section">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-5 item">
						<div class="about-client-wrapper">
							<h2 class="about-client-heading">We Are Always Dedicated And Devoted With Clients.</h2>
							<p class="about-client-des">There are many variations of passages of Lorem Ipsum available the majority have suffered alteration in some form by injected humour.</p>
						</div>
					</div>
					<div class="col-12 col-lg-7">
						<div class="about-client-counter-wrapper">
							<div class="about-client-counter-item item">
								<h2>136</h2>
								<p>Team Member</p>
							</div>
							<div class="about-client-counter-item item">
								<h2>1806</h2>
								<p>Total Clients</p>
							</div>
							<div class="about-client-counter-item item">
								<h2>1066</h2>
								<p>Project Done</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-lg-7">
						<div class="main-heading-block">
							<h2 class="main-heading">Meet our Team</h2>
							<p>t is a long established fact that a reader will be distracted by the readable content page when looking at its layout the point of using Lorem</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-lg-3 col-md-6 item">
						<div class="experts-info-wrapper">
							<div class="content-experts">
								<div class="content-experts-overlay"></div> <img class="content-experts-image" src="../assets/images/our-team-1.jpg" alt="team">
								<div class="content-experts-details fadeIn-bottom">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="content-expert-info">
								<h2>Alex Greenfield</h2>
								<p>Programming Guru</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-3 col-md-6 item">
						<div class="experts-info-wrapper">
							<div class="content-experts">
								<div class="content-experts-overlay"></div> <img class="content-experts-image" src="../assets/images/our-team-2.jpg" alt="team">
								<div class="content-experts-details fadeIn-bottom">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="content-expert-info">
								<h2>Jeffery Brown</h2>
								<p>Creative Leader</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-3 col-md-6 item">
						<div class="experts-info-wrapper">
							<div class="content-experts">
								<div class="content-experts-overlay"></div> <img class="content-experts-image" src="../assets/images/our-team-3.jpg" alt="team">
								<div class="content-experts-details fadeIn-bottom">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="content-expert-info">
								<h2>Ann Richmond</h2>
								<p>Manager</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-3 col-md-6 item">
						<div class="experts-info-wrapper">
							<div class="content-experts">
								<div class="content-experts-overlay"></div> <img class="content-experts-image" src="../assets/images/our-team-4.jpg" alt="team">
								<div class="content-experts-details fadeIn-bottom">
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="content-expert-info">
								<h2>Richard Nicholas</h2>
								<p>Manager</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- content end -->
	<!-- footer start -->
	<footer>
		<div class="footer-top">
			<div class="container-fluid">
				<div class="row align-item-center">
					<div class="col-lg-3 col-md-3">
						<div class="footer-logo">
							<a href="../index.html"> <img src="../assets/images/construct-logo-white.png" alt="footer-logo"> </a>
						</div>
					</div>
					<div class="col-lg-9 col-md-9">
						<div class="row">
							<div class="col-lg-6 col-md-7">
								<div class="footer-top-right-info">
									<div class="footer-top-info-icon"> <span><i class="fas fa-envelope-open-text"></i></span> </div>
									<div class="footer-top-info-text">
										<h2>Subscribe To Our Newsletter</h2>
										<p>Stay in touch with us to get latest news and discount coupons.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-5 footer-form">
								<div class="footer-top-right-form">
									<form>
										<input id="txtEmail" class="subscribe-input" type="text" placeholder="Email" required>
										<button id="demo" type="button" class="submit-btn-btn"><i class="fa fa-envelope"></i></button>
									</form>	
								</div>
								<div class="error-msg" id="error">
									<p>Invalid email address</p>
								</div>
								<div class="success-msg" id="success">
									<p><span class="check-success-icon"><i class="fa fa-check"></i></span>Sent Successfully!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-middle">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 col-lg-3 col-md-6 item">
						<div class="footer-block-list">
							<h2 class="footer-middle-heading">About Us</h2>
							<p class="footer-middle-text">Lorem ipsum dolort amet, consectetur adipimag A ms pum sociis natoque penatibus.A ms pum sociis natoque penatibus.</p>
							<h2 class="footer-middle-heading">Get Free Estimate</h2>
							<p class="footer-middle-text">Our online scheduling and payment system is safe.</p> <a href="#" class="footer-request-btn">Request with Online Form</a> </div>
					</div>
					<div class="col-12 col-lg-3 col-md-6 item">
						<div class="footer-block-list">
							<h2 class="footer-middle-heading">Useful Links</h2>
							<div class="footer-menu-list-wrapper">
								<ul class="footer-menu-list">
									<li> <a href="../index.html">Home</a> </li>
									<li> <a href="../pages/services/services-1.html">Services</a> </li>
									<li> <a href="../pages/about-us.html">About</a> </li>
									<li> <a href="../pages/project.html">Project</a> </li>
									<li> <a href="../pages/team.html">Our Team</a> </li>
									<li> <a href="../pages/coming-soon.html">Coming Soon</a> </li>
								</ul>
								<ul class="footer-menu-list">
									<li> <a href="../pages/faq.html">FAQ</a> </li>
									<li> <a href="../pages/error-404.html">404 Error</a> </li>
									<li> <a href="../pages/testimonials.html">Testimonials</a> </li>
									<li> <a href="../pages/brands.html">Brands</a> </li>
									<li> <a href="../pages/services/single-service.html">Single Service</a> </li>
									<li> <a href="../pages/news/single-news.html">Single News</a> </li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-3 col-md-6 item">
						<div class="footer-block-list">
							<h2 class="footer-middle-heading">Contact Us</h2>
							<div class="footercontact-list-item">
								<div class="footercontact-list-icon"> <i class="fas fa-map-marked-alt"></i> </div>
								<div class="footercontact-list-info">
									<h2>OFFICIAL ADDRESS</h2>
									<p>47 Anytown RUE
										<br> 01234 Anyville
										<br> France</p>
								</div>
							</div>
							<div class="footercontact-list-item">
								<div class="footercontact-list-icon"> <i class="fas fa-phone-alt"></i> </div>
								<div class="footercontact-list-info">
									<h2>contact details</h2>
									<p><a href="#">+123 456 7890</a>
										<br> <a href="#">contact@construction.com</a></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-3 col-md-6 item">
						<div class="footer-block-list">
							<h2 class="footer-middle-heading">Recent Post</h2>
							<div class="footer-post-list">
								<div class="footer-post-icon"> <img src="../assets/images/img/news-1.jpg" alt="img"> </div>
								<div class="footer-post-info">
									<h2>Our Biggest Summer Meetup</h2>
									<p>May 1,2020</p>
								</div>
							</div>
							<div class="footer-post-list p-20px-t">
								<div class="footer-post-icon"> <img src="../assets/images/img/news-2.jpg" alt="img"> </div>
								<div class="footer-post-info">
									<h2>Our Biggest Summer Meetup</h2>
									<p>May 1,2020</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 col-lg-6 col-md-6">
						<p>Copyright © 2019 Construction. All rights reserved.</p>
					</div>
					<div class="col-12 col-lg-6 col-md-6">
						<div class="terms-policy">
							<span><a class="divide-icon" href="../pages/terms-conditions.html">Terms & Conditions</a></span>
							<span><a href="../pages/privacy-policy.html">Privacy Policy</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>


</footer>
{% endblock container %}